<!-- {% extends products_with_layout %} -->

{% block title %}My second Website{% endblock %}

{% block content %}
    {% assign name = 'test 02' %}
    Hello Mr. TEST 02
    <h1>Hello Mr. {{ name }}</h1>
    <h1>Hello Mr. {{ name | upcase }}</h1>

     <ul id="products">
        {% for product in Model.Products %}
            <li>
                <h2>{{product.name}}</h2>
                Only {{product.price | price }}
                {{product.description | prettyprint | paragraph }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}

